/*  your css code here. If applicable */
body {
	background-color: #f8f8f8
}

.book-library {
	background-color: #ffffff
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}

.book {
  text-align: center;
  background-color: 
}

.book img {
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}

.Book-name {
  font-weight: bold;
  text-align: left;
}

.Author {
	text-align: left;
	color: #777777
}

.Price-block {
  width: 100%;   /* Change percentage if needed */
  height: 150%;
  background: #2ecc71;
  color: white
}
